@mixin background-tint($tint_color, $image_url) {
    background-color: $tint_color;
    background-image: url($image_url);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: luminosity;
}

@mixin overlay() {
    z-index: 1;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: auto;
    top: 0px;
    left: 0px;
}
