@import 'variables';
@import 'mixins';

html,
body,
#app {
    height: 100%;
}

.has-gradient {
    background: $gradient-left;
    /* fallback for old browsers */
    background-image: -webkit-linear-gradient($gradient-left, $gradient-right);
    /* Chrome 10-25, Safari 5.1-6 */
    background-image: linear-gradient($gradient-left, $gradient-right);
    background-repeat: no-repeat;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px $body-bg inset !important;
}
