@import 'variables';
@import 'mixins';

@font-face {
    font-family: 'Material Design Icons';
    src: url('/fonts/vendor/@mdi/materialdesignicons-webfont.eot');
    /* IE9 Compat Modes */
    src: url('/fonts/vendor/@mdi/materialdesignicons-webfont.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('/fonts/vendor/@mdi/materialdesignicons-webfont.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('/fonts/vendor/@mdi/materialdesignicons-webfont.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('/fonts/vendor/@mdi/materialdesignicons-webfont.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('/fonts/vendor/@mdi/materialdesignicons-webfont.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

html,
body,
#app {
    height: 100%;
}

.has-gradient {
    background: $gradient-left;
    /* fallback for old browsers */
    background-image: -webkit-linear-gradient($gradient-left, $gradient-right);
    /* Chrome 10-25, Safari 5.1-6 */
    background-image: linear-gradient($gradient-left, $gradient-right);
    background-repeat: no-repeat;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-transparent {
    background: transparent !important;
}

.clickable {
    cursor: pointer !important;
}

.loading {
    &__wrapper {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
    }
}

.v-btn {
    &.rounded-sm {
        border-radius: 4px !important;
    }
}

.align-right {
    .v-toolbar {
        &__content {
            justify-content: flex-end;
        }
    }
}

.w {
    &-100 {
        width: 100%;
    }
}

.bdb {
    &-1 {
        border-bottom: 1px solid #c3c3c3ff;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px $body-bg inset !important;
}
